# Server
PORT=4000

# Database (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/social_media_app?schema=public"

# Auth
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Cloudinary (image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
